
@charset "utf-8";

/* Root Variables */
:root {
	--color-bg: 		        #ffffff;
	--color-text: 		        #222222;
	--color-heading: 		    #242256;
	--color-heading-light: 		#ffffff;
	--color-orange: 			#757575;
	--color-grey-dark: 			#333333;
	--color-white: 				#ffffff;
	--color-purple: 			#712572;
	--color-navy: 			    #242256;
	--color-red: 				#CC1E24;
    --color-lavendar:          #FEF4FF;
	--color-orange:				#D84B27;
	--color-yellow:				#F68F20;
    --gradient-orange:          linear-gradient(180deg,#c44222 0%, #de7f1a 100%);
    --gradient-asf:             linear-gradient(280deg, rgba(246, 143, 32, 0.89) 0.94%, rgba(216, 75, 39, 0.89) 26.18%, rgba(113, 37, 114, 0.89) 68.09%);
	--val-baseline:				20px;
}


/* CSS reset.  Why?  Because browser makers make the www difficult to style. Enough with that.  */
/* Modern CSS reset by: https://piccalil.li/blog/a-modern-css-reset/ */
*,*::before,*::after{box-sizing:border-box}body,h1,h2,h3,h4,p,figure,blockquote,dl,dd{margin:0}ul[role='list'],ol[role='list']{list-style:none}html:focus-within{scroll-behavior:smooth}body{min-height:100vh;text-rendering:optimizeSpeed;line-height:1.5}a:not([class]){text-decoration-skip-ink:auto}img,picture{max-width:100%;display:block}input,button,textarea,select{font:inherit}@media (prefers-reduced-motion: reduce){html:focus-within{scroll-behavior:auto}*,*::before,*::after{animation-duration:0.01ms !important;animation-iteration-count:1 !important;transition-duration:0.01ms !important;scroll-behavior:auto !important}}
/* End the Reset.  Let the games begin. */

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
html {font-size: 20px;}
body { line-height:1;-webkit-text-size-adjust:none; -webkit-font-smoothing: antialiased; /* Chrome, Safari */ -moz-osx-font-smoothing: grayscale; /* Firefox */  font-family: 'Montserrat', 'Source Sans Pro','Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 20px;}
img {max-width: 100%; height: auto; display: inline-block; vertical-align: middle;}
a { outline:none; text-decoration:none; transition:all 0.2s ease-out; }
.maincontent a {color: var(--color-red);}
small { font-size: 80%;}
pre {font-family:"Courier New", Courier, monospace; letter-spacing: -0.5pt;}

.headerlink {
  visibility: hidden;
}
dt:hover > .headerlink, p:hover > .headerlink, td:hover > .headerlink, h1:hover > .headerlink, h2:hover > .headerlink, h3:hover > .headerlink, h4:hover > .headerlink, h5:hover > .headerlink, h6:hover > .headerlink {
  visibility: visible
}  

body.no-scroll, html.no-scroll {overflow: hidden;}

/* typography */
h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', 'Source Sans Pro','Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: capitalize;
    font-weight: 700;
    line-height: 1.1em;
    margin-bottom: 1rem;
    color: var(--color-heading)
}
h1 { 
    font-size: 3.5rem; 
    margin-bottom: 2rem;
    font-weight: 800;
}
h1 .headerlink {
    display: none;
}
h1 .hero__subtitle {
    font-size: 1.8rem;
    line-height: 1.1em;
    display: block;
    font-weight: 400;
    margin-top: 20px;
}
h2 {
    font-size: 2.4rem; 
    margin-bottom: 1em;
    font-weight: 800;
}

#sessionize.sessionize-wrapper h3 {
    color: #fff;
}

p {
    margin-bottom: 1em; 
    line-height: 1.5em;
    font-size: 1rem;
}
li {
    line-height: 1.5em;
    font-size: 1rem;
}
.text-heading-light {color: var(--color-heading-light);}

/* reusable classes */
.inner { width: 100%; max-width: 1200px; margin: 0 auto; padding: 0 var(--val-baseline);}
.inner.inner--narrow {max-width: 800px;}
.text-col {max-width: 880px; margin: 0 auto;}
.hidden, .none, .hide { display: none; }
.invisible {visibility: hidden; }

/* micro clearfix below. contains floats like .clearfix. */
.cf:before, .cf:after { content: " "; display: table; }
.cf:after { clear: both; }

/* need to clear floats instead of contain them? use this below. */
.clear, .clear-both { clear: both; }

/* need to float things? we got you covered. */
.left, .floatleft { float: left !important; }
.right, .floatright { float: right !important; }

/* these are for images, below. gives a nice margin. sweet. */
.alignright { float: right; margin: 0 0 15px 15px;}
.alignleft { float: left; margin: 0 15px 15px 0;}
.aligncenter {display: block; margin: 0 auto;}
.floatnone { float: none; }

/* need a middle-aligned header. don't write another CSS rule. just use these! */
.text-left {text-align: left;}
.text-right {text-align: right;}
.text-center {text-align: center;}

/* positioning */
.absolute {position: absolute;}
.relative {position: relative;}
.fixed {position: fixed;}

/* flex */
.flex {display: flex;}
.flex-vert-center {align-items: center;}
.flex-vert-end {align-items: end;}
.flex-horz-center {justify-content: center;}
.flex-center {align-items: center;justify-content: center}
.flex-end {justify-content: flex-end;}
.flex-space-between {justify-content: space-between;}
.flex-wrap {flex-wrap:wrap}
.flex-reverse {flex-direction: row-reverse;}
.flex-column {flex-direction: column;}
.flex-row {flex-direction: row;}
.flex-1 {flex: 1;}
.flex-2 {flex: 2;}
.flex-gap-50 {gap: 50px;}
.flex-gap-20 {gap: 20px;}

/* grid */
.grid {display: grid;}
.grid-center {place-items: center;}
.grid-2-cols {grid-template-columns: repeat(2, 1fr);}

/* need to add z-index?  Us these class? */
.z0 {z-index: 0;}
.z1 {z-index: 1;}
.z2 {z-index: 2;}
.z3 {z-index: 3;}
.z4 {z-index: 4;}
/* For a little extra reassurance */
.z99{z-index: 99;}

/* magic. many combinations exists with simplicity. */
.float20 { float: left; width: 20%;}
.float25 { float: left; width: 25%;}
.float33 { float: left; width: 33.3333%;}
.float50 { float: left; width: 50%;}
.float66 { float: left; width: 66.6667%;}
.float75 { float: left; width: 75%;}
.float80 { float: left; width: 80%;}

.inline {display:inline-block}
.inline25 { display: inline-block; width: 25%; margin-right: -4px; } 
.inline33 { display: inline-block; width: 33.3333%; margin-right: -4px; } 
.inline50 { display: inline-block; width: 50%; margin-right: -4px; } 
.inline66 { display: inline-block; width: 66.6666%; margin-right: -4px; } 

.w25 { width: 25%; }
.w33 { width: 33.3333%; }
.w50 { width: 50%; }
.w66 { width: 66.6666%; }
.w75 { width: 75%; }

/* a couple of button micro-interactions */
a.btn { color: #fff;background-color: var(--color-purple);border-radius: 8px;padding: 10px 25px;cursor: pointer;font-size:1.2rem;transition: all 0.2s ease-in-out; font-weight: 700; display: inline-block; position: relative;}
a.btn.btn--alt {background-color: var(--color-orange);}
a.btn.btn--white {background-color: #fff; color: var(--color-orange);}
a.btn.btn--event-hero {font-size: 1rem; padding: 8px 15px;}
a.btn:hover { background-color: var(--color-red); color: #fff; }


/* padding and margin helpers */
.pa-small {padding:calc( var(--val-baseline) / 2 )}
.pa-medium {padding: var(--val-baseline)}
.pa-large {padding:calc( var(--val-baseline) * 4 )}

.pl-medium {padding-left: var(--val-baseline)}
.pl-large {padding-left:calc( var(--val-baseline) * 4 )}

.pr-medium {padding-right: var(--val-baseline)}
.pr-large {padding-right:calc( var(--val-baseline) * 4 )}

.ma-small {margin:calc( var(--val-baseline) / 2 )}
.ma-medium {margin:calc( var(--val-baseline) )}
.ma-large {margin:calc( var(--val-baseline) * 4 )}

.mt-medium {margin-top:  var(--val-baseline)}
.mt-large {margin-top:  calc( var(--val-baseline) * 4 )}
.mt-xl {margin-top:  calc( var(--val-baseline) * 7 )}

.mb-medium {margin-bottom:  var(--val-baseline)}
.mb-large {margin-bottom:  calc( var(--val-baseline) * 4 )}
.mb-xl {margin-bottom:  calc( var(--val-baseline) * 7 )}

.py-medium {padding-top: var(--val-baseline) ;padding-bottom: var(--val-baseline) ;}
.py-large {padding-top:calc( var(--val-baseline) * 4 );padding-bottom:calc( var(--val-baseline) * 4);}
.py-xl {padding-top:calc( var(--val-baseline) * 7 );padding-bottom:calc( var(--val-baseline) * 7  );}

.pt-xl {padding-top:calc( var(--val-baseline) * 7  );}
.pb-xl {padding-bottom:calc( var(--val-baseline) * 7  );}

.px-small {padding-left:calc( var(--val-baseline) / 2);padding-right:calc( var(--val-baseline) / 2);}
.px-medium {padding-left: var(--val-baseline);padding-right:var(--val-baseline);}

.pt-xl {padding-top:calc( var(--val-baseline) * 7 );}

.spacer {height: 20px; display: block;}
.spacer.spacer-medium {height: 50px;}
.spacer.spacer-large {height: 100px;}

.min-h-500 {min-height: 500px;}
.min-h-800 {min-height: 800px;}

.overflow-hidden {overflow: hidden;}
/* decorators */
.bg-cover {background-size:cover; background-position: center center;}
.bg-cover.bg-cover-top {background-position: center top;}
.bg-cover.bg-cover-btm {background-position: center bottom;}
/* add bg colors here */
.bg-grey {background-color: var(--color-grey-light);}
.bg-navy {background-color: var(--color-navy);}
.bg-white {background-color: #ffffff;}
.bg-orange {background-color: var(--color-orange);}

.text-white {color: #fff;}
table {
    width: 100%; border-collapse: collapse;
}
table, .table {box-shadow: 0 5px 15px rgba(0,0,0,.2); border-radius: 10px; overflow: hidden; background-color: #fff; margin-bottom: 2rem;}
thead {background-image: var(--gradient-asf); color: #fff;}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {padding: 10px 20px; line-height: 1.5em;}
thead > tr > th em {font-style: normal; font-weight: 600; font-size: .8em;}
tr:nth-child(even) {background-color: var(--color-lavendar);}

/* HEADER */
#header-main {
    height: 100px;
    position: relative;
    z-index: 2;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}
#header-main .inner, #header-main nav, #header-main nav ul, #header-main nav li, #header-main nav a {
    height: 100%;
}
#header-main nav a {
    display: block;
    color: #712572;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 15px;
    align-content: center;
    font-size: .8rem;
}
#header-main nav a:hover {
    background-color: #712572;
    color: #fff;
}
#header-main nav ul {
    padding-left: 0;
    margin: 0;
    border-right: 1px solid #712572;
}
#header-main nav li {
    list-style: none;
    border-left: 1px solid #712572;
}
#header-main nav li.has-sub-menu {
    position: relative;
}
#header-main nav li.has-sub-menu >a::after {
    content: '';
    display: inline-block;
    margin-left: 5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #712572;
    transform: rotate(90deg);
}
#header-main nav li.has-sub-menu >a:hover::after {
    border-color: transparent transparent transparent #fff;
}
#header-main nav ul.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--color-navy);
    color: #fff;
    min-width: 200px;
    border: none;
    height: auto;
    display: none;
     border-radius: 0 0 8px 8px;
     box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
#header-main nav ul.sub-menu a {
    color: #fff;
}
#header-main nav li.has-sub-menu:hover ul.sub-menu {
    display: block;
}
#header-main nav ul.sub-menu li {
    border: none;
}
#header-main nav ul.sub-menu li a {
    padding: 10px 15px;
    font-size: .8rem;
}
#header-main nav ul.sub-menu li a:hover {
    background-color: #fff;
    color: var(--color-navy)
}
.logo {
    width: 200px;
}

/* reusable components */
.card {
    border-radius: 8px;
    padding: 20px;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box; 
    background-image: linear-gradient(180deg, #F68F20 0%, #D84B27 45.19%, #712572 100%);
    box-shadow: 0 160px 45px 0 rgba(0, 0, 0, 0.00), 0 102px 41px 0 rgba(0, 0, 0, 0.03), 0 58px 35px 0 rgba(0, 0, 0, 0.10), 0 26px 26px 0 rgba(0, 0, 0, 0.17), 0 6px 14px 0 rgba(0, 0, 0, 0.20);
    position: relative;
}
.card::before {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    border-radius: 8px;
    background: #fff;
    left: 2px; top: 2px;
    width: calc(100% - 4px); height: calc(100% - 4px);
}
.card-inner {
    position: relative;
    z-index: 1;
}
.card-inner h2 {
    margin-bottom: 20px;
}
.card h4 {
    font-size: 1rem;
    font-weight: 600; 
    color: #242256;
    margin-bottom: 1em;
}
.event-card__date {
    font-size: 0.7rem;
    color: var(--color-grey-dark);
    margin-bottom: 10px;
    font-weight: 600;
}
.event-card__image {
    width: 100px;
    height: 100px;
}
.event-card__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card a {color: #D84B27;
    font-weight: 700; 
    font-size: 0.8rem;
}
.card a.btn {
    color: #fff;
}
.card a:hover {
    text-decoration: underline;
}
.card a.btn:hover {
    text-decoration: none;
}

/* Home Page */
.hero--home,  .hero.hero--event-home{
    background-image: url('../images/home-hero-bg.webp'); 
    background-size: cover;
    background-position: center center;
    position: relative;
    min-height: 800px;
     display: flex;
        align-items: center;
}
.hero--home::before, .hero--event-home::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(280deg, rgba(246, 143, 32, 0.89) 0.94%, rgba(216, 75, 39, 0.89) 26.18%, rgba(113, 37, 114, 0.89) 68.09%);
    top: 0; 
    left: 0;
     z-index: 0;
}
.hero--event-home::before {
    background:  linear-gradient(280deg, #A736A5 0%, #712572 48.85%, #242256 100%);
    opacity: .9;
}
.hero::after {
      content: '';
  display: block;
  position: absolute;
  height: 150px;
  width: 100%;
  bottom: -1px;
  left: 0;
  z-index: 1;
  background-image: url('../images/hero-curve-gradient.webp');
  background-size: 100% 100%;  /* stretch to fill exactly */
  background-repeat: no-repeat;
  background-position: bottom center;
}
.hero.hero--home::after, .hero.hero--event-home::after {
    background-image: url('../images/hero-curve-mask.webp');
}
.hero.hero--home .hero__content h1, .hero.hero--home .hero__content p, .hero.hero--home .hero_events h2, .hero.hero--event-home .hero__content h1, .hero.hero--event-home .hero__content p, .hero.hero--event-home .hero_events h2{
   color: #fff
}
.mosaic-content {
    margin-bottom: 150px;
    height: 100vh;
}
.mosaic-content:last-child {
    height:auto;
}
.sticky-mosaic {
    position: sticky;
    top: 100px;
}
.mosaic {
    width: 100%;
    aspect-ratio: 1 / 1;
}
.mosaic__item {
    border-radius: 11px; 
    overflow: hidden;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    opacity: 0;
     transform: scale(1.2);
     transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.mosaic__item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
}
.mosaic__item.mosaic__item--1 {
    height: 80%;
    opacity:1;
     transform: scale(1);
}
.mosaic__item--2 {
    height: 60%
}
.mosaic-wrap {
    height: 20%;
}
.mosaic__item--5 {
    transition-delay: 0.3s;
}
.mosaic__item.shown {
    opacity: 1;
     transform: scale(1);
}
.home-attendees {
    background-image: url('../images/earth-bg.webp');
    background-size: cover;
    background-position: center center;
    position: relative;
    padding-top: calc(var(--val-baseline) * 7);
}
.home-attendees::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(109deg, #712572 14.64%, #242256 98.15%);
    top: 0; 
    left: 0;
    opacity: .6;
}
.home-attendees::after, .co-located-events::after {
    content: '';
    display: block;
    position: absolute;
    height: 150px;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    background-image: url('../images/white-curve-btm.webp');
    background-size: 100% 100%;  /* stretch to fill exactly */
    background-repeat: no-repeat;
    background-position: top center;
}
.attendee-cards {
    flex-wrap: wrap;
     justify-content: center;
}
.attendee-card {
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border-radius: 10px;
    text-align: center;
    background: linear-gradient(180deg, #F68F20 0%, #D84B27 100%);
    flex-basis: clamp(250px, 33.33%, 300px);
}
.events-news {
    background-image: linear-gradient(288deg, #242256 -1.91%, #712572 48.53%, #CC1E24 98.98%);
}
.events-news-img {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
}

#events-news-img {
    opacity: 0.0;
    transform: translate3d(-200px, 0, 0);
    transition: all .5s ease-out
}
.active #events-news-img {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

/* FOOTER */
footer {
    background: radial-gradient(79.34% 79.34% at 50% 53.46%, #333176 0%, #242256 21.63%, #222 99.32%);
}
.footer-top-border {
    height: 20px;
    background-image: var(--gradient-asf);
}
footer h2 {
    margin-bottom: 1rem;
    font-size: 36px;
}
.footer-nav ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}
footer p {
    font-size: .8rem;;
}
.footer-nav li {
    line-height: 1.5em;;
}
.footer-nav a {
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: 1.5em;
}
.social-icons a {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 20px;
}
.social-icons a:hover img {opacity: .7;}
.card.card--footer {
    background-image: var(--gradient-orange);
    border: none;
}
.card.card--footer::before {
    display: none;
}
.card.card--footer .event-card__date, .card.card--footer h4 {
    color: #fff;
}
.card.card--footer h4 {
    margin-bottom: 0px;
}
.collage {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    position: absolute;
    top: -17%;
}
.image__wrapper {
    aspect-ratio: 3 / 5;
    position: relative;
     overflow: hidden;
     border-radius: 8px;
     box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.image__wrapper::after {
    content:'';
    position: absolute;
    top: 0; left: 0; 
    width: 100%; height: 100%;
    background: linear-gradient(135deg, rgba(113, 37, 114, 0.38) 6.96%, rgba(204, 30, 36, 0.38) 100%);
}
.image__wrapper:nth-child(3n + 1)::after {
   background: linear-gradient(180deg, rgba(204, 30, 36, 0.44) 0%, rgba(246, 143, 32, 0.44) 100%)
}
.image__wrapper:nth-child(3n + 2)::after {
   background: linear-gradient(135deg, rgba(36, 34, 86, 0.6) 6.96%, rgba(113, 37, 114, 0.6) 100%)
}
.image__wrapper:nth-child(2n) {
    transform: translateY(-50%);
}
.image__wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}
.sticky-image {
    position: sticky;
    top: 100px;
}
.timeline-image-wrapper {
    position: relative; 
    width: 100%;
    aspect-ratio: 5 / 3;
    overflow: hidden;
    border-radius: 8px;;
}
.timeline-image-wrapper img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease-out;
}
.timeline-image-wrapper img.shown {
    opacity: 1;
}
.timeline-bar {
    width: 4px;
    height: 100%;
    position: absolute;
    left:50%;
    top: 0;
    transform: translateX(-50%);
    background-color: #D84B27;
}
.timeline-bar::before, .timeline-bar::after {
    content:'';
    position: absolute;
    width: 30px; height: 30px;
    background-color: var(--color-purple);
    border-radius: 50%;
    top: 0; left: 50%;
    transform: translate(-50%, -50%);
}
.timeline-bar::after {
    top: 100%;
    transform: translate(-50%, -50%);
}
.timeline-content::after {
    content: '';
    position: absolute;
    width: 100%; height: 2px;
    background-color: #D84B27;
    top: 50%; 
    transform: translateY(-50%);
    left: calc( var(--val-baseline) * -4 );
    z-index: -1;
}
.card.timeline-content::before {
    transition: all 0.3s ease-out;
}
.card.timeline-content.active::before {
    background-color: var(--color-orange);
    color:#fff;
}
.card.timeline-content.active .card-inner h2, .card.timeline-content.active .card-inner p {
    color:#fff;
}
.faq {
    cursor: pointer;
    padding: 30px;;
}
.faq-section {
    background-color: var(--color-navy);
}
.faq-question, .faq-answer {
    position: relative;
    z-index: 1;
    padding-left: 30px;
}
.faq-question h3 {
    margin-bottom: 0px;
}
.faq-question:before {
    width: 22px;
    height: 22px;
    position: absolute;
    left:-10px;
    top: 5px;
    content:'';
    background-image: url('../images/faq-toggle.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.faq.open .faq-question:before {
    transform: rotate(180deg);
}
.faq-answer {
    display:none;
    padding-top: 20px;
 }
 .faq.open .faq-answer {
    display: block;
}
.faqs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-section {
    background-image: url('../images/earth-bg.webp');
    background-size: cover;
    background-position: center center;
    position: relative;
}
.contact-section::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(109deg, #712572 14.64%, #242256 98.15%);
    top: 0; 
    left: 0;
    opacity: .6;
}
.contact-icon {
    height: 50px;
    margin-bottom: 20px;
}
.contact-icon img {
    height: 100%;
    width: auto;
}

.events-grid {
     display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

/* SINGLE EVENTS */


.hero-event-dates {
    color: var(--color-navy);
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.hero-event-dates.text-white{
    color: #fff;
}
.hero-hashtag {
    color: var(--color-navy);
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 30px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.hero-hashtag.text-white{
    color: #fff;
}
.hero__default-subtitle {
    font-weight: 600;
}
.colo-label, .event-card__location {
    font-size: .8rem;
    font-weight: 600;
    color: #fff;
    background-image: var(--gradient-orange);
    text-transform: capitalize;
    margin-bottom: 5px;
    padding: 5px 15px;
    display: inline-block;
    border-radius: 8px;
}
.event-card__location {margin-bottom: 10px; background: var(--color-navy); border-radius: 0px; }
.breadcrumb {
    font-size: 14px;
    font-weight: 600;
    display: flex;
}
.countdown {
    z-index: 2;
    position: absolute;
    bottom: 0;
    width: 600px;
    max-width: 95%;
    left: 50%;
    opacity: 0;
    transform: translate3d(-50%, 20px, 0);
    transition: all 0.5s ease-out;
    display: flex;
    gap: 15px;
}
.countdown.show {
    opacity: 1;
    transform: translate3d(-50%, 0, 0);
}
.countdown__box {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.countdown__number, .countdown__label {
    position: relative;
    color: var(--color-navy)
}
.countdown__number {
    font-size: 2rem;
    font-weight: 800;
}
.countdown__label {
    font-size: .8rem;
    font-weight: 600;
    text-transform: uppercase;
}
.event-started {
    margin: 0 auto;
}
.event-started p {
    position: relative;
    margin-bottom: 0px;;
}
.banner {
    padding: 10px 0; 
    background-color: var(--color-orange);
    color: #fff;
    text-align: center;
    font-size: .8rem;
    font-weight: 700;
}
.banner a {
    color: #fff;
    font-weight: 700;
    padding: 5px 15px;
    border-radius: 8px;
    border: 2px solid #fff;
}
.banner a:hover {
    background-color: #fff;
    color: var(--color-orange);
}
.gallery-wrapper {
     position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    background: #f5f5f5;
    aspect-ratio: 16 / 9;
    border-radius: 15px;
    box-shadow: 0 160px 45px 0 rgba(0, 0, 0, 0.00), 0 102px 41px 0 rgba(0, 0, 0, 0.03), 0 58px 35px 0 rgba(0, 0, 0, 0.10), 0 26px 26px 0 rgba(0, 0, 0, 0.17), 0 6px 14px 0 rgba(0, 0, 0, 0.20);
}
.gallery-images {
    display: flex;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}
.gallery-image {
    height: 100%;
    flex-shrink: 0;
}
.gallery-image-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    z-index: 10;
}
.gallery-nav:hover {
    background: rgba(0,0,0,0.8);
}
.gallery-nav.left {
    left: 20px;
}
.gallery-nav.right {
    right: 20px;
}

.sponsor-logos-section {
    position: relative;
}
.sponsor-logos-section::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: var(--gradient-asf);
    bottom: 0; 
    left: 0;
}
.sponsor-logos {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.sponsor-logo {
    width: calc((100% - 40px) / 3);
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.sponsor-logos.sponsor-logos--gold .sponsor-logo {
    width: calc((100% - 60px) / 4);
    height: 180px;
}
.sponsor-logos.sponsor-logos--silver .sponsor-logo, .sponsor-logo.sponsor-logos--colo .sponsor-logo {
    width: calc((100% - 80px) / 5);
    height: 160px;
}
.sponsor-logos.sponsor-logos--bronze .sponsor-logo, .sponsor-logos.sponsor-logos--lightning_talks .sponsor-logo {
    width: calc((100% - 100px) / 6);
    height: 140px;
}
.sponsor-logo a {
    display: block;
    width: 100%;
    height: 100%;
}
.sponsor-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.maincontent--single-event hr {
    margin: calc(var(--val-baseline) * 4) 0;
    color: transparent;
    position: relative;
    height: 3px;
    background-image: linear-gradient(to right, rgba(113, 37, 114, 0.89), rgba(216, 75, 39, 0.89), rgba(246, 143, 32, 0.89));
;
}
.co-located-events {
    background-image: var(--gradient-asf);
    position: relative;
    padding-top: calc(var(--val-baseline) * 7);
}
.co-located-events::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../images/colocated-events-bg.webp');
    background-size: cover;
    background-position: center center;
    opacity: 0.2;
    top: 0; 
    left: 0;
}
.colo-image-wrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 20px;
}
.colo-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.session-card {
    margin-bottom: 50px;
}
.session-card p, .session-card li {
    font-size: 16px;
    line-height: 1.5;
}
.session-card ul {padding-left: 20px;}
.session-description, .speaker-bio {
    display: none;
}
.session-info {
    margin-bottom: 20px;
}
.session-info h3 {
    font-weight: 600;
    margin-bottom: 10px;
    cursor: pointer;
}
.session-info h3:hover {
    text-decoration: underline;
}
.card .speaker-name {font-size: 16px; cursor: pointer;}
.card .speaker-name:hover {
    text-decoration: underline;
}
.event-gallery {
    background-image: linear-gradient(45deg, #242256, #712572)
}
#in-page-nav {
    position: sticky;
    top: 100px;
    background-color: #d84b27;
    padding: 20px;
    z-index: 2;
    border-radius: 8px;
} 
#in-page-nav ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}
#in-page-nav li {
    margin-bottom: 15px;
}
#in-page-nav a {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    padding: 5px 15px;
    font-size: 16px;
    display: block;
}
#in-page-nav a:hover, #in-page-nav a.current-section {
    background-color: #fff;
    color:  #d84b27;
}
.event-content {
    padding-left: 50px;
}

@media (max-width: 1200px) {

}
@media (max-width: 1000px) {
    :root {
        --val-baseline:				15px;
    }   
    html {
        font-size: 16px;
    }
    .flex-col-1000 {
        flex-direction: column;
    }
    .flex-col-reverse-1000 {
        flex-direction: column-reverse;
    }
    .hero::after, .home-attendees::after, .co-located-events::after {
        height: 75px;
    }
    .nav-toggle {
        display: block;
        position: absolute;
        top: 30px;
        right: 30px;
        cursor: pointer;
        z-index: 3;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .nav-toggle span {
        display: block;
        width: 25px;
        height: 3px;
        background-color: var(--color-purple);
        transition: all 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    #header-main nav {
        position: fixed;
        top: 0%;
        right: 0;
        background-color: #fff;
        width: 300px;
        height: 100vh;
        padding-top: 100px;
        transform: translateX(100%);
        transition: transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    
    #header-main nav.open {
        transform: translateX(0);
    }
    #header-main .nav-toggle.open #nav-top {
        transform: translateY(8px) rotate(45deg);
    }
    #header-main .nav-toggle.open #nav-mid {
        width: 0;
    }
    #header-main .nav-toggle.open #nav-btm {
        transform: translateY(-8px) rotate(-45deg);
    }
    #header-main nav ul {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        border: none;
    }
    #header-main nav li {
        border: none;
        height: auto;
        width: 100%;
        margin-bottom: 10px;
    }
    #header-main nav a {
        height: auto;
        padding: 5px 15px;
    }
    #header-main nav ul.sub-menu {
        position: static;
        background-color: transparent;
        color: #712572;
        min-width: 100%;
        border: none;
        height: auto;
        box-shadow: none;
        padding-left: 20px;
        display: block;
    }
    #header-main nav a {
        font-size: 20px;
    }
    #header-main nav ul.sub-menu li a  {
        color: #712572;
        font-size: 18px;
        font-weight: 600;
        padding: 0px;
    }
     #header-main nav li.has-sub-menu >a::after {
        display: none;
    }
    .hero--home .hero__content {
        text-align: center;
    }
}
@media (max-width: 800px) {
    :root {
        --val-baseline:				10px;
    }   
    .flex-col-800 {
        flex-direction: column;
    }
    .flex-col-reverse-800 {
        flex-direction: column-reverse;
    }
    .flex-gap-50 {
        gap: 25px;
    }
    .flex-gap-30 {
        gap: 15px;
    }
    .text-center-800 {
        text-align: center;
    }
    h1 {
        font-size: 2.8rem;
    }
    h2 {
        font-size: 2rem;
    }
    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        font-size: 14px;
        padding: 5px 10px;
    }
    .events-news .inner {
        padding-top: 50vw;
    }
    .events-news-spacer {
        display: none;
    }
    .events-news-list {
        width: 100%
    }
    .home-main-content .inner {
        display: flex;
        flex-direction: column-reverse;
    }
    .home-main-content .inner .float50 {width: 100%;}
    .sticky-mosaic {
        position: static;
        transform: none;
        top: auto;
    }
    .mosaic {
        width: 100%;
        aspect-ratio: auto;
        margin-bottom: 60px;
    }
    .mosaic__item {
        opacity: 1;
        transform: none;
    }
    .float50.main-content.pr-large {
        padding-right: 0px;
    }
    .mosaic-content {
        height: auto;
    }
    .events-grid.grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .hero--mosaic .flex-gap-50 {
        gap:0;
    }
    .hero__collage {
        width: 140vw;
        transform: translateX(-20vw);
    }
    .collage {
        grid-template-columns: repeat(4, 1fr);
        position: staic;
        top: auto;
        position: relative;
    }
    .image__wrapper:nth-child(2n) {
        transform: none;
    }
    .image__wrapper:nth-child(1), .image__wrapper:nth-child(2),.image__wrapper:nth-child(3), .image__wrapper:nth-child(4) {
        transform: translateX(-50%);
    }
    .image__wrapper {
        aspect-ratio: 3 / 4;
    }
    .collage {
        gap: 5px;
    }
    .vision-items.grid.grid-2-cols {
        grid-template-columns: 1fr;
        gap: 20px
    }
    .float50.sticky-image {
       display: none;;
    }
    .timeline-content-wrapper {
        float:none;
        width: 100%;
        padding-left: 0px;
    }
    .timeline-content::after {
        display: none;
    }
    /* single event */
    .hero__logo {
        width: 250px;
        margin: 0 auto 50px;
    }
    .hero__content {
        text-align: center;
    }
    .hero--home, .hero.hero--event-home {
        min-height: 0;
        padding-bottom: 100px;
    }
    .sponsor-logos {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 0px
    }
    .sponsor-logos.sponsor-logos--gold {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    .sponsor-logos.sponsor-logos--silver, .sponsor-logo.sponsor-logos--colo {
        grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
    }
    .sponsor-logos.sponsor-logos--bronze {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
    .sponsor-logos.sponsor-logos--lightning_talks {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
    .sponsor-logo, .sponsor-logos.sponsor-logos--gold .sponsor-logo, .sponsor-logos.sponsor-logos--silver .sponsor-logo, .sponsor-logos.sponsor-logos--bronze .sponsor-logo, .sponsor-logos.sponsor-logos--lightning_talks .sponsor-logo, .sponsor-logo.sponsor-logos--colo .sponsor-logo {
        width: 100%;
    }
    #in-page-nav.float33 {
        float: none;
        width: 100%;
        margin-bottom: 20px;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.9);
        top: 0px;
    }
     .event-content.float66, .float33.full-width-800 {
        float: none;
        width: 100%;
        padding-left: 0px;
    }
    #in-page-nav ul {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: center;
    }
     #in-page-nav li {
        margin-bottom: 0px;
    }
    #in-page-nav a {
        font-size: 12px;
        padding: 0px 5px;
        color: #fff;
        background-color: #d84b27;
        border: 1px solid#d84b27;
        border-radius: 5px;
    }
      #in-page-nav a:hover, #in-page-nav a.current-section {
        background-color: #fff;
        color:  #d84b27;
    }
    .hero-ctas {
        display: flex;
        gap: 10px;
        justify-content: center;
        flex-wrap: wrap;
    }
    .footer-logo {
        margin: 0 auto;
    }
}
@media (max-width: 600px) {
    .flex-col-600 {
        flex-direction: column;
    }
    .flex-col-reverse-600 {
        flex-direction: column-reverse;
    }
     .gallery-wrapper {
        aspect-ratio: 4 / 3;
    }
    .countdown {
        gap: 10px;
    }
    .card.countdown__box {
        padding: 10px;
        gap: 10px;
    }
    .countdown__number {
        font-size: 1.5rem;
    }
    .countdown__label {
        font-size: 12px;
    }
    .co-located-events-list.flex {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;
    }
    .faq-question h3 {
        font-size: 1.1rem;
    }
}