RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# CSP permissions for communityovercode.apache.org - approved by VP Data Privacy.
SetEnv CSP_PROJECT_DOMAINS "https://sessionize.com/ https://*.sessionize.com/ https://sessionize.blob.core.windows.net/ https://*.cvent.com/ https://*.cvent.cloud/"
