<!DOCTYPE html>
<html lang="en">
    {% include "header.html" %}
    <div class="hero hero--defaults relative">
        <div class="inner py-xl relative z1">
            <div class="hero-content text-center">
                <h1 class="hero-title">{{ page.title }}</h1>
                {% if page.subheading %}
                    <p>{{ page.subheading }}</p>
                {% endif %}
            </div>
        </div>
    </div>
    <section class="maincontent">
        <div class="inner py-xl">
            {% block content %}
            {% endblock %}
        </div>
    </section>

    <!-- Footer -->
    {% include "footer.html" %}
