        <div class="footer-top-border"></div>
        <footer>
            <div class="inner py-large flex flex-gap-50">
                <div class="flex flex-column flex-gap-20 flex-1 text-white">
                   <img src="/images/logos/CommunityOverCode_Logo_stacked-white.webp" width="200" alt="Apache Software Foundation">
                   <p>The Apache® Software Foundation (The ASF) provides software for the public good, guided by community over code. Learn more at apache.org.</p>
                   <p>Apache and the Apache logo are trademarks of The Apache Software Foundation.</p>
                   <p>The Apache® Software Foundation is a 501(c)(3) nonprofit organization. Tax ID # 47-0825376</p>
                   <div class="social-icons">
                        <a target="_blank" href="https://infra.apache.org/slack.html"><img src="/images/slack-icon.svg" alt="slack icon"></a>
                        <a target="_blank" href="https://github.com/apache"><img src="/images/github-mark-white.svg" alt="github icon"></a>
                        <a target="_blank" href="https://www.linkedin.com/company/the-apache-software-foundation/"><img src="/images/linkedin-icon.png" alt="linkedIn icon"></a>
                        <a target="_blank" href="https://www.youtube.com/@communityovercode"><img src="/images/youtube-icon.svg" alt="youtube icon"></a>
                        <a target="_blank" href="https://twitter.com/TheASF"><img src="/images/x-icon.svg" alt="X icon"></a>
                        <a target="_blank" href="https://bsky.app/profile/apache.org"><img src="/images/bluesky-icon.png" alt="Bluesky icon"></a>
                        <a target="_blank" href="https://fosstodon.org/@TheASF" rel="me"><img src="/images/mastodon-icon.png" alt="Mastodon icon"></a>
                </div>
                </div>
                <div class="flex flex-column flex-gap-20 flex-1">
                    <nav class="footer-nav">
                        <ul class="flex flex-column flex-gap-10 ">
                            <li><a href="/events">Events</a></li>
                            <li><a href="https://news.apache.org/foundation/entry/category/events">News</a></li>
                            <li><a href="/about#contact-section">Contact</a></li>
                            <li><a href="/code-of-conduct">Code of Conduct</a></li>
                            <li><a href="https://privacy.apache.org/policies/privacy-policy-public.html">Privacy Policy</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="flex flex-column flex-gap-20 footer-events flex-1">
                    <h2 class="text-heading-light">ASF Events</h2>
                    {% for item in page.events %}
                        <div class="card card--footer">
                            <a href="{{ item.href }}">
                                <div class="card-inner flex flex-column">
                                    <div class="event-card__date">{{ item.displayDate }}</div>
                                    <h4>{{ item.name }}</h4>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </footer>
    </body>
</html>



