<nav>
    <ul class="flex">
        <li><a href="/events/glasgow-2026">Home</a></li>
        <li><a href="/events/glasgow-2026/register">Register</a></li>
        <li class="has-sub-menu">
            <a href="#">Attend</a>
            <ul class="sub-menu">
                <li class="sub-menu-item"><a href="/events/glasgow-2026/travel">Travel</a></li>
                <li class="sub-menu-item"><a href="/events/glasgow-2026/why-attend">Why Attend</a></li>
            </ul>
        </li>
        <li class="has-sub-menu">
            <a href="#">Co-located Events</a>
            <ul class="sub-menu">
                <li class="sub-menu-item"><a href="/events/glasgow-2026/lakehouse-day-glasgow">Lakehouse Day</a></li>
                <li class="sub-menu-item"><a href="/events/glasgow-2026/airflow-contributor-days-glasgow">Airflow Contributor Days</a></li>
            </ul>
        </li>
         <li><a href="https://web.cvent.com/event/ac71ce47-2b5f-424c-abfe-5b48255315fb/summary?RefId=XSummary" target="_blank">Schedule</a></li>
         <!-- <li><a href="/events/glasgow-2026/schedule">Schedule</a></li> -->
         <li><a href="/events/glasgow-2026/sponsor">Sponsor</a></li>
    </ul>
</nav>