
@charset "utf-8";
/* Root Variables */
:root {
	--color-bg: 		        #ffffff;
    --gradient-main:             linear-gradient(280deg, #1f358e 0%, #20798b 56% , #20a06d 100%);
    --color-primary:             #1f358e;
    --color-secondary:          #20798b;
    --color-tertiary:           #20a06d;
}

.hero--event-home::before, .co-located-events {
    background: var(--gradient-main);
}
.banner {
    background-color: var(--color-primary);
}
a.btn {
    background-color: var(--color-secondary);
}
a.btn.btn--alt {
    background-color: var(--color-primary);
}
a.btn.btn--event-hero.btn--white {
    background-color: #fff;
    color: var(--color-primary);
}
#in-page-nav {background-color: var(--color-secondary);}
#in-page-nav a:hover, #in-page-nav a.current-section {
    color: var(--color-secondary);
}
.body-asia-2026 thead {
    background-color: var(--gradient-main) !important;
    color: #ffffff;
}